.container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100vw;
    flex-wrap: wrap;
    align-items: center;
    word-break: normal;
    justify-content: center;
    color: aqua;
}
.pageTitle {
    font-size: 36px;
    color: black;
    text-align: center;

}
.price {
    font-size: 36px;
    color: green;
    text-align: right;
    font-weight: bold;
    margin-right: 40px;
    width: auto;
}

.orderPrice{
    font-size: 24px;
    color: rgb(51, 32, 32);
    text-align: center;
    font-weight: bold;
}

.errorScreenComponent {
    flex-direction: row;
    justify-content: center;

}